* {
  box-sizing: border-box;
  border: none;
}

html {
  font-family: sans-serif;
  font-size: 13px;
}

::selection {
  background-color: black;
  color: white;
}

::-moz-selection {
  background-color: black;
  color: white;
}

div.a-loader-title {
  display: none !important;
}

h1 {
  font-size: 13px;
  font-weight: 400;
  padding: 8px;
  background: white;
  border-bottom: 2px solid #e5e5e5;
  margin: 0;
}

nav {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  top: 0;
  padding: 8px 16px;
  background-color: white;
  z-index: 6;
  color: black;
}

.item-wrapper {
  display: flex;
  align-items: center;
}

li {
  list-style: none;
  margin-left: 1rem;
}

a {
  text-decoration: none;
  color: #a4a4a4;
  font-size: 13px;
}

.title {
  color: black;
}

.icon {
  display: none;
  padding: 0;
}

.hidden-menu {
  position: fixed;
  flex-direction: column;
  align-content: flex-end;
  width: 100%;
  z-index: 5;
  transition: 1s;
  display: none;
  top: 34px;
}

.hidden-menu .item {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: var(--darkgray);
  padding: 8px 16px;
  margin-bottom: 2px;
  background-color: white;
}

article {
  font-size: 13px;
  z-index: 1;
  position: absolute;
  top: 50px;
  margin: 16px;
  width: 25%;
  background: white;
}

p {
  padding: 8px;
  margin: 0;
}

.a-enter-vr-button {
  background: #a4a4a4;
  font-size: 14px;
  font-family: sans;
  color: white;
  border-radius: 0;
  display: none;
}

#myEnterVRButton,
#myEnterARButton {
  z-index: 9999;
  position: fixed;
  padding-right: 0;
  padding-top: 0;
  position: absolute;
  right: 0;
  right: 16px;
  bottom: 16px;
  display: flex;
  color: black;
  background: #a4a4a4;
  padding: 8px;
}

#myEnterARButton {
  right: 56px;
}

@media (max-width: 1024px) {
  .item-wrapper {
    display: none;
  }

  .icon {
    display: block;
    border: none;
    cursor: pointer;
    background: none;
  }

  article {
    display: none;
    width: 100%;
    background: white;
    position: absolute;
    top: 34px;
    margin: 0;
  }
}
